## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num=1
print(num)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
conts=8.5
print(conts)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [5]:
name= 'markus'

5) Crear una variable que contenga un número complejo

In [8]:
comp=complex(3,2)
print(comp)

(3+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(name)

markus

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
import math

pi = math.pi
print(pi)
pi=round(pi, 4)
print(pi)

3.141592653589793
3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
var1 = "True"
var2 = True

True True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(var1, var2)

True True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
var3 = 1 + 1.5
print(var3)

2.5

11) Realizar una operación de suma de números complejos

In [16]:
var4 = complex(1,2)
var5 = complex(1,5)
var6 = var4 + var5
type(var6)

complex

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
var7 = 6
var8 = var6 + var7
print(var8)

(8+7j)

13) Realizar una operación de multiplicación

In [18]:
print(8*8)

64

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
var9= 27/4
print(var9)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
print(round(var9))

7.0

17) De la división de 27 entre 4 mostrar solamente el resto

In [33]:
print (27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
print(7*3+4) ## es lo mas cerca que pude...

25

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
var10 = 'a01'
var11 = 'b02'

print(var10 + var11)

a01b02

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
var12 = '2'
var12 = int(var12)
var12 == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
por es mas de un argumento

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [47]:
var13 = 3 

var13 -= var12
print(var13)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [48]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string